.composant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 17px;
  position: relative;
  background-color: var(--principale);
  border-radius: var(--rad);
  overflow: hidden;
}

.composant__icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.composant__title {
  position: relative;
  font-size: var(--fs-title-4);
  color: var(--gray-100);
  text-align: center;
  padding: 0 10px;
}

.composant__icon-add {
  position: relative;
  width: 35px;
  height: 35px;
}

@media (min-width: 960px) {

}