.hero {
  text-align: center;
  line-height: 45px;
  margin: 30px auto 50px;
}

.hero__title {
  font-weight: normal;
}

.hero__subtitle {
  font-size: var(--fs-title-5);
  margin: 0;
}

@media (min-width: 960px) {
  .hero {
    line-height: 60px;
    margin: 70px auto 120px;
    max-width: 700px;
  }

  .hero__title {
    font-size: var(--fs-title-1);
  }

  .hero__subtitle {
    font-size: var(--fs-title-4);
  }
}
