.service {
  padding-left: 10px;
  background: var(--principale);
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.service__title {
  padding-top: 10px;
  font-size: var(--fs-title-5);
}

.service__text {
  width: 100%;
  font-size: var(--fs-body);
}

.service__image {
  max-width: 70px;
  min-height: 130px;
  object-fit: cover;
}

@media (min-width: 960px) {
  .service {
    max-width: 590px;
    min-height: 150px;
  }

  .service__image {
    max-width: 130px;
    min-height: 130px;
  }
}