.serviceGauche {
  padding-left: 10px;
  background: var(--principale);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  max-height: 180px;
}

.serviceGauche__title {
  padding-top: 10px;
  font-size: var(--fs-body);
}

.serviceGauche__text {
  font-size: var(--fs-small);
}

.serviceGauche__image {
  max-width: 70px;
  min-height: 130px;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
}

@media (min-width: 960px) {
  .serviceGauche {
    max-width: 590px;
  }

  .serviceGauche__image {
    max-width: 130px;
    min-height: 130px;
  }
}