.serviceDroite {
  padding-right: 10px;
  background: var(--principale);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  max-height: 180px;
}

.serviceDroite__title {
  padding-top: 10px;
  font-size: var(--fs-body);
}

.serviceDroite__text {
  margin: 0;
  font-size: var(--fs-small);
}

.serviceDroite__image {
  max-width: 70px;
  min-height: 130px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

@media (min-width: 960px) {
  .serviceDroite {
    max-width: 590px;
  }

  .serviceDroite__image {
    max-width: 130px;
    min-height: 130px;
  }
}