.service {
  padding-left: 10px;
  background: var(--principale);
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.service__title {
  padding-top: 10px;
  font-size: var(--fs-title-4);
  text-align: center;
}

.service__content {
  width: 100%;
  background-color: var(--principale);
}

.service__text {
  font-size: var(--fs-title-5);
  line-height: 25px;
  ul {
    padding-left: 15px;
  }
  li {
    padding-top: 5px;
  }
  ul>li>ul {
    list-style-type: square;
    list-style-position: inside;
    li {
      font-size: var(--fs-title-6);
      line-height: 20px;
    }
  }
}

.service__image {
  max-width: 70px;
  min-height: 130px;
  object-fit: cover;
}

@media (min-width: 960px) {
  .service {
    max-width: 590px;
    min-height: 150px;
  }

  .service__image {
    max-width: 130px;
    min-height: 130px;
  }
}