.tuileDemi {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.tuileDemi > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.tuileDemi__img {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}

.tuileDemi__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  bottom: 0;
  width: 100%;
  background: var(--principaleAlpha);
  border-radius: 0 0 15px 15px;
}

.tuileDemi__title {
  width: 100%;
  text-align: center;
  font-size: var(--fs-title-5);
}

.tuileDemi__description {
  position: absolute;
  visibility: hidden;
  text-align: center;
  transition: none;
}

@media (min-width: 960px) {
  .tuileDemiContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .tuileDemi {
    width: 50%;
    height: 100%;
  }

  .tuileDemi__img {
    height: 150px;
  }

  .tuileDemi__content {
    height: 64px;
    transition: all 0.4s ease;
    gap: 20px;
  }

  .tuileDemi:hover .tuileDemi__content {
    height: 150px;
    border-radius: 15px;
  }

  .tuileDemi__title {
    font-size: var(--fs-title-4);
  }

  .tuileDemi__description {
    position: absolute;
    visibility: hidden;
    text-align: center;
  }

  .tuileDemi:hover .tuileDemi__description {
    position: relative;
    visibility: visible;
  }
}