{{>"layouts/header.hbs"}}

<form action="/submit-form" method="POST" class="contact-form">
  <label for="nom-prenom" class="contact-form__label sr-only">Nom Prénom</label>
  <input type="text" id="nom-prenom" name="nom-prenom" class="contact-form__input" placeholder="Nom Prénom" required><br><br>

  <label for="email" class="contact-form__label sr-only">eMail</label>
  <input type="email" id="email" name="email" class="contact-form__input" placeholder="eMail" required><br><br>

  <label for="telephone" class="contact-form__label sr-only">Téléphone</label>
  <input type="tel" id="telephone" name="telephone" class="contact-form__input" pattern="[0-9]{10}" placeholder="Téléphone (Ex : 0123456789)" required><br><br>

  <label for="sujet" class="contact-form__label sr-only">Sujet</label>
  <input type="text" id="sujet" name="sujet" class="contact-form__input" placeholder="Sujet" required><br><br>

  <label for="message" class="contact-form__label sr-only">Message</label>
  <textarea id="message" name="message" class="contact-form__textarea" rows="4" cols="50" placeholder="Message" required></textarea><br><br>

  <button type="submit" class="contact-form__button">Envoyer</button>
</form>

<div class="contact-details">
  <span class="contact-details__text">N’hésitez pas à utiliser notre formulaire de contact.</span>
  <span class="contact-details__text">Vous pouvez également nous contacter par:</span>
  <span class="contact-details__text">Téléphone: 07 55 60 32 70</span>
  <span class="contact-details__text">Mail: depannage.informatique.vesoul@gmail.com</span>
</div>
<div class="contact-line"></div>

<div class="contact-address">
  <span class="contact-address__text">Vous pouvez également vous présenter au magasin aux horaires d’ouverture.</span>
  <span class="contact-address__text">46 Rue de Barboilloz, 70 000 Vesoul</span>
</div>

{{>"layouts/footer.hbs"}}