{{>"layouts/header.hbs"}}

<div class="hero">
    <h1 class="hero__title saillance">Contactez nous !</h1>
</div>
<div class="contact">
  <form action="/submit-form" method="POST" class="contact-form">
    <label for="nom-prenom" class="contact-form__label sr-only">Nom Prénom</label>
    <input type="text" id="nom-prenom" name="nom-prenom" class="contact-form__input" placeholder="Nom Prénom" required>
  
    <label for="email" class="contact-form__label sr-only">eMail</label>
    <input type="email" id="email" name="email" class="contact-form__input" placeholder="eMail" required>
  
    <label for="telephone" class="contact-form__label sr-only">Téléphone</label>
    <input type="tel" id="telephone" name="telephone" class="contact-form__input" pattern="[0-9]{10}" placeholder="Téléphone (Ex : 0123456789)" required>
  
    <label for="sujet" class="contact-form__label sr-only">Sujet</label>
    <input type="text" id="sujet" name="sujet" class="contact-form__input" placeholder="Sujet" required>
  
    <label for="message" class="contact-form__label sr-only">Message</label>
    <textarea id="message" name="message" class="contact-form__textarea" rows="4" cols="50" placeholder="Message" required></textarea>
  
    <button type="submit" class="button">Envoyer</button>
  </form>
  
  <div class="contact__content">
    <div class="contact-details">
      <p class="contact-details__text">N’hésitez pas à utiliser notre formulaire de contact.</p>
      <p class="contact-details__text">Vous pouvez également nous contacter par:</p>
      <p class="contact-details__text">Téléphone: <a href="tel:0755603270">07 55 60 32 70</a></p>
      <p class="contact-details__text">Mail: <a href="mailto:depannage.informatique.vesoul@gmail.com">depannage.informatique.vesoul@gmail.com</a></p>
    </div>
    <div class="line"></div>
    <div class="contact-details">
      <p class="contact-details__text">Vous pouvez également vous présenter au magasin aux horaires d’ouverture.</p>
      <p class="contact-details__text">46 Rue de Barboilloz, 70 000 Vesoul</p>
    </div>
  </div>
</div>

{{>"layouts/footer.hbs"}}