{{>"layouts/header.hbs"}}

<div class="depannage">
  
  {{>"components/serviceGauche.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li>​<li>Remplacement d'une pièce défectueuse :<ul><li>Alimentation, Carte mère, Clavier, Disque dur​, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Désinfection virus et sécurité:"
    text="<ul><li>Installation de logiciels de protection.​</li><li>Conseils pratiques pour améliorer votre sécurité sur internet.</li>​<li>Analyse et désinfection :<ul><li>Virus​, Spyware, Malware, Harponnage, Etc...</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}

  {{>"components/serviceGauche.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li>​<li>Remplacement d'une pièce défectueuse : <ul><li>Alimentation, Carte mère, Clavier, Disque dur​, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li>​<li>Remplacement d'une pièce défectueuse : <ul><li>Alimentation, Carte mère, Clavier, Disque dur​, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}

  {{>"components/serviceGauche.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li>​<li>Remplacement d'une pièce défectueuse : <ul><li>Alimentation, Carte mère, Clavier, Disque dur​, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li>​<li>Remplacement d'une pièce défectueuse : <ul><li>Alimentation, Carte mère, Clavier, Disque dur​, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}
  
  
</div>

{{>"layouts/footer.hbs"}}