{{>"layouts/header.hbs"}}

<div class="depannage">
  
  {{>"components/serviceGauche.hbs"
    title="- Dépannage:"
    text="<ul><li>Résolution des problèmes logiciel.</li><li>Remplacement d'une pièce défectueuse :<ul><li>Alimentation, Carte mère, Clavier, Disque dur, Ecran, Etc..</li></ul></li></ul>"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Désinfection virus et sécurité:"
    text="<ul><li>Installation de logiciels de protection.</li><li>Conseils pratiques pour améliorer votre sécurité sur internet.</li><li>Analyse et désinfection :<ul><li>Virus, Spyware, Malware, Harponnage, Etc...</li></ul></li></ul>"
    image="/src/assets/img/pexels-mikhail-nilov-6963098.jpg"
    alt="Dépannage informatique"
  }}

  {{>"components/serviceGauche.hbs"
    title="- Remplacement d'écran cassé"
    text="<ul><li>Echange de la dalle endommagée.</li><li> Echange de l'écran tactile.</li><li>Pose d'un verre trempé protecteur ou film de protection pour le nouvel écran (optionnel).</li></ul>"
    image="/src/assets/img/pexels-picjumbo-com-55570-196653.jpg"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Réinstallation et sauvegarde de données"
    text="<ul><li>Réinitialisation logiciels :<ul><li>Windows + mises à jour, Anti-virus, Pack office (traitement de texte, tableur, etc..), Pack de logiciels indispensables, Etc...</li></ul></li><li>Sauvegarde des données : <ul><li> Documents, Photos et images, Vidéos, Musique, Etc..</li></ul></li></ul>"
    image="/src/assets/img/maxresdefault.jpg"
    alt="Dépannage informatique"
  }}

  {{>"components/serviceGauche.hbs"
    title="- Optimisation de performance:"
    text="<ul><li>Mise à niveau logiciels :<ul><li>Windows, anti-virus, etc..</li></ul></li><li>Mise à jour matériels :<ul><li>Disque dur SSD​, Ajout de mémoires vives, Etc..</li></ul></li></ul>"
    image="/src/assets/img/optimiser-Windows-10-accelerer-PC.webp"
    alt="Dépannage informatique"
  }}
  
  {{>"components/serviceDroite.hbs"
    title="- Récupération des données sur un produit défectueux"
    text="<ul><li>Vous avez perdu vos données sur :<ul><li>Disque dur (interne ou externe)</li><li>Clé USB</li><li>Carte mémoire</li></ul></li></ul>"
    image="/src/assets/img/pexels-bohed-117729.jpg"
    alt="Dépannage informatique"
  }}
  
  
</div>

{{>"layouts/footer.hbs"}}