{{>"layouts/header.hbs"}}

<div class="hero">
    <h1 class="hero__title">Votre solution informatique <span class="saillance">personnalisée</span>, en toute confiance !</h1>
</div>

{{>"components/tuile.hbs"
    title="Montage PC à la carte"
    description="<p>Montage de PC personnalisés</p><p>Choix des composants selon l'utilisation souhaitée</p>"
    image="/src/assets/img/andy-holmes-EOAKUQcsFIU-unsplash.jpg"
    imageAlt=""
    link="montage"
}}

<div class="tuileDemiContainer">
  {{>"components/tuile.hbs"
      title="Dépannage"
      description="<p>Prise en charge d'ordinateurs fixes, portables (PC & Mac) et tablettes</p><p>Réparation - Sauvegarde - Optimisation</p>"
      image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
      imageAlt=""
      link="depannage"
  }}
  
  {{>"components/tuile.hbs"
      title="Service de numérisation"
      description="<p>Cassettes VHS / VHS C / HI8 / Mini DV / Audio</p><p>Bobines Super 8 / Normal 8</p>"
      image="/src/assets/img/2150172471.jpg"
      imageAlt=""
      link="numerisation"
  }}
</div>


<div class="contact-details">
  <span class="contact-details__text">
    Toutes nos interventions sont réalisables à votre DOMICILE.
  </span>
  <span class="contact-details__text">
    N'hésitez pas à prendre contact, les devis sont GRATUITS et SANS FRAIS de prise en charge !
  </span>
</div>
<div class="contact-details">
  <span class="contact-details__text saillance">
    Horaires
  </span>
</div>
<div class="contact-details">
  <span class="contact-details__text">
    <p>Lundi - Mardi - Jeudi - Vendredi - 8h-12h30 / 15h30-18h30</p>
    <p>Mercredi - 8h-12h30</p>
    <p>FERME le samedi</p>
  </span>
  <span class="contact-details__text">
    De 14h à 15h30 Je suis en dépannage à votre domicile .
  </span>
</div>

{{>"layouts/footer.hbs"}}