{{> "layouts/header.hbs" }}
<div class="hero">
    <h1 class="hero__text">Votre solution informatique <span class="saillance">personnalisée</span>, en toute confiance !</h1>
</div>
<div class="tuileLarge tuile">
    <div class="tuileLarge__img">
        <img src="/src/assets/img/andy-holmes-EOAKUQcsFIU-unsplash.jpg" alt="">
        <div class="tuileLarge__title">
            <p>Montage PC à la carte</p>
        </div>
    </div>
</div>
<div class="tuileDemi tuile">
    <div class="tuileDemi__img">
        <img src="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg" alt="">
        <div class="tuileDemi__title">
            <p>Dépannage</p>
        </div>
    </div>
</div>
<div class="tuileDemi tuile">
    <div class="tuileDemi__img">
        <img src="/src/assets/img/2150172471.jpg" alt="">
        <div class="tuileDemi__title">
            <p>Service de numérisation</p>
        </div>
    </div>
</div>
<div class="infos">
    <span>Toutes nos interventions sont réalisables à votre DOMICILE.
N'hésitez pas à prendre contact, les devis sont GRATUITS et SANS FRAIS de prise en charge !</span>
<span>Horaires</span>
<span>Lundi-mardi-jeudi-vendredi  -  8h-12h30 / 15h30-18h30
Mercredi  - 8h-12h30
FERME le samedi</span>
<span>De 14h à 15h30 Je suis en dépannage à votre domicile .</span>
</div>
{{> "layouts/footer.hbs" }}