{{>"layouts/header.hbs"}}

<div class="hero">
    <h1 class="hero__text">Votre solution informatique <span class="saillance">personnalisée</span>, en toute confiance !</h1>
</div>

{{>"components/tuileLarge.hbs"
    title="Montage PC à la carte"
    image="/src/assets/img/andy-holmes-EOAKUQcsFIU-unsplash.jpg"
    imageAlt=""
}}

{{>"components/tuileDemi.hbs"
    title="Dépannage"
    image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
    imageAlt=""
}}

{{>"components/tuileDemi.hbs"
    title="Service de numérisation"
    image="/src/assets/img/2150172471.jpg"
    imageAlt=""
}}

  <div class="contact-details">
    <span class="contact-details__text">
      Toutes nos interventions sont réalisables à votre DOMICILE.
    </span>
    <span class="contact-details__text">
      N'hésitez pas à prendre contact, les devis sont GRATUITS et SANS FRAIS de prise en charge !
    </span>
  </div>
  <div class="contact-details">
    <span class="contact-details__text saillance">
      Horaires
    </span>
  </div>
  <div class="contact-details">
    <span class="contact-details__text">
      Lundi-mardi-jeudi-vendredi - 8h-12h30 / 15h30-18h30
      Mercredi - 8h-12h30
      FERME le samedi
    </span>
    <span class="contact-details__text">
      De 14h à 15h30 Je suis en dépannage à votre domicile .
    </span>
  </div>

{{>"layouts/footer.hbs"}}