{{>"layouts/header.hbs"}}

<div class="hero">
    <h1 class="hero__title">Votre solution informatique <span class="saillance">personnalisée</span>, en toute confiance !</h1>
</div>

{{>"components/tuile.hbs"
    title="Montage PC à la carte"
    description="<p>Montage de PC personnalisés</p><p>Choix des composants selon l'utilisation souhaitée</p>"
    image="/src/assets/img/andy-holmes-EOAKUQcsFIU-unsplash.jpg"
    imageAlt=""
    link="montage"
}}

<div class="tuileDemiContainer">
  {{>"components/tuile.hbs"
      title="Dépannage"
      description="<p>Prise en charge d'ordinateurs fixes, portables (PC & Mac) et tablettes</p><p>Réparation - Sauvegarde - Optimisation</p>"
      image="/src/assets/img/artiom-vallat-mx9axbKqKW8-unsplash.jpg"
      imageAlt=""
      link="depannage"
  }}
  
  {{>"components/tuile.hbs"
      title="Service de numérisation"
      description="<p>Cassettes VHS / VHS C / HI8 / Mini DV / Audio</p><p>Bobines Super 8 / Normal 8</p>"
      image="/src/assets/img/2150172471.jpg"
      imageAlt=""
      link="numerisation"
  }}
</div>


<div class="contact-details">
  <span class="contact-details__text">
    Toutes nos interventions sont réalisables à votre DOMICILE.
  </span>
  <span class="contact-details__text">
    N'hésitez pas à prendre contact, les devis sont GRATUITS et SANS FRAIS de prise en charge !
  </span>
</div>
<table class="contact-table">
  <caption class="contact-table__caption saillance">Horaires</caption>
  <thead class="contact-table__head">
    <tr class="contact-table__row">
      <th class="contact-table__title">Jour</th>
      <th class="contact-table__title">Heure</th>
    </tr>
  </thead>
  <tbody class="contact-table__body">
    <tr class="contact-table__row">
      <td class="contact-table__first">Lundi, Mardi, Jeudi, Vendredi</td>
      <td class="contact-table__last">8h-12h30 / 15h30-18h30</td>
    </tr>
    <tr class="contact-table__row">
      <td class="contact-table__first">Mercredi</td>
      <td class="contact-table__last">8h-12h30</td>
    </tr>
    <tr class="contact-table__row">
      <td class="contact-table__first">Samedi</td>
      <td class="contact-table__last">Fermé</td>
    </tr>
    <tr class="contact-table__row">
      <td class="contact-table__first">De 14h à 15h30</td>
      <td class="contact-table__last">Dépannage à domicile</td>
    </tr>
  </tbody>
</table>

{{>"layouts/footer.hbs"}}