{{>"layouts/header.hbs"}}


<div class="infos">
  <div class="infos__img">
    <img class="image" src="/src/assets/photos/michael.png" alt="Michaël Borel">
  </div>
  <div class="infos__name">BOREL Michaël</div>
  <div class="infos__subtitle">Professionnel, minutieux et pragmatique.</div>
  <div class="infos__experience">
    <span>30 ans d'expérience :</span><br />
    <span>Chez des artisans de dépannage.<br />En grande surface au service après-vente en audiovisuel et informatique.</span>
  </div>
  <div class="infos__quote">
    " Un conseil éclairé et personnalisé vous permettra de prendre le bon choix pour votre appareil et ce dans un rapport qualité/prix convenable. "
  </div>
</div>

{{>"layouts/footer.hbs"}}