{{>"layouts/header.hbs"}}


<div class="infos">
  <div class="infos__img">
    <img class="image" src="/src/assets/photos/michael.png" alt="Michaël Borel">
  </div>
  <div class="infos__text">
    <div class="infos__name">BOREL Michaël</div>
    <div class="infos__subtitle">Professionnel, minutieux et pragmatique.</div>
    <div class="infos__excerpt">
      <span>30 ans d'expérience :</span>
      <ul>
        <li>Chez des artisans de dépannage.</li>
        <li>En grande surface au service après-vente en audiovisuel et informatique.</li>
      </ul>
    </div>
    <div class="infos__quote box">
      " Un conseil éclairé et personnalisé vous permettra de prendre le bon choix pour votre appareil et ce dans un rapport qualité/prix convenable. "
    </div>
  </div>
</div>

<div class="infos__instagram">
  <div class="hero">
    <h1 class="hero__text instagram__title">Suivez nous sur <span class="saillance">Instagram</span></h1>
  </div>
</div>

{{>"layouts/footer.hbs"}}