{{>"layouts/header.hbs"}}
<div class="hero">
  <h1 class="hero__title saillance">Montage PC à la carte</h1>
  <p class="hero__subtitle">Votre PC, votre style, notre expertise.</p>
</div>
<div class="montage">
  <div class="montage__hardware">

    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Microchip.svg"
      title="CPU"
      ID="CPU"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Motherboard.svg"
      title="Carte mère"
      ID="MOTHERBOARD"
    }}
  
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Video_Card.svg"
      title="Carte graphique"
      ID="GPU"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/RAM.svg"
      title="Mémoire vive"
      ID="RAM"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Fan.svg"
      title="Refroidissement CPU"
      ID="FAN"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Syringe.svg"
      title="Pâte thermique"
      ID="THERMAL"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/SSD.svg"
      title="SSD"
      ID="SSD"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/HDD.svg"
      title="HDD"
      ID="HDD"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Wi-Fi.svg"
      title="Carte WiFi"
      ID="WIFI"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/DVD_RW_Drive.svg"
      title="Graveur DVD"
      ID="DVD"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Audio.svg"
      title="Carte son"
      ID="AUDIO"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Arduino.svg"
      title="Carte PCI"
      ID="PCI"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Case.svg"
      title="Boîtier"
      ID="CASE"
    }}
    
    {{>"components/hardware.hbs"
      icone="/src/assets/icones/Electrical.svg"
      title="Alimentation"
      ID="POWER"
    }}
    
  </div>
  <div class="montage__panier">
    <div class="box">
      <h2 class="box__title">Mes choix</h2>
      <div class="line"></div>
      <div class="box__content">
        <div class="box__text">
          <p>Vous n'avez pas encore ajouté de composant à votre montage.</p>
        </div>
      </div>
    </div>
    <button type="submit" class="button">Créer mon devis</button>
  </div>
</div>

{{>"layouts/footer.hbs"}}