{{>"layouts/header.hbs"}}

<div class="hero">
    <h1 class="hero__title saillance">Revivez vos souvenirs d'antan grâce à notre service de numérisation de supports analogiques !</h1>
</div>
<div class="numerisation">
  <div class="numerisation__content">
      <div class="numerisation__text">Transformez vos cassettes VHS, VHS-C, HI8, Mini DV, ainsi que vos enregistrements audio et vos bobines Super 8 / Normal 8 en formats numériques modernes.</div>
      <div class="numerisation__text">Nous vous proposons de conserver et partager ces moments précieux, sans la dégradation naturelle due au temps. Une fois numérisés, vos souvenirs seront accessibles sur les supports numériques de votre choix : clé USB, DVD, ou en téléchargement direct pour plus de simplicité.</div>
  </div>
    <div class="box__container">
      <div class="box">
        <span class="box__title">Nos Options de Numérisation :</span>
        <ul class="box__content">
          <li class="box__text">Cassettes VHS, VHS-C, HI8 et Mini DV: Nos équipements spécialisés permettent de capturer chaque détail et chaque son de vos cassettes, pour une qualité vidéo et audio optimisée.</li>
          <li class="box__text">Bobines Super 8 / Normal 8: Que ce soit pour des films familiaux ou des documents uniques, nous prenons soin de chaque bobine pour préserver la qualité d'origine.</li>
          <li class="box__text">Audio: Nous numérisons également les enregistrements audio afin que les voix et les musiques de l’époque retrouvent une seconde jeunesse.</li>
        </ul>
      </div>
      <div class="box">
        <span class="box__title">Formats de Rendu Disponibles:</span>
        <ul class="box__content">
          <li class="box__text">Clé USB: Idéal pour la flexibilité et la facilité d'utilisation, plug-and-play sur la plupart des appareils.</li>
          <li class="box__text">DVD: Un support fiable et pratique pour visualiser sur les lecteurs de DVD.</li>
          <li class="box__text">Téléchargement Direct: Accédez instantanément à vos fichiers via un lien sécurisé, sans attendre la réception de supports physiques.</li>
        </ul>
      </div>
    </div>
    <div class="numerisation__content">
      <span class="numerisation__end">Profitez de la qualité et de la simplicité de notre service pour faire revivre vos moments forts, sauvegardés pour toujours dans des formats adaptés à l’ère numérique.</span>
    </div>
</div>
{{>"layouts/footer.hbs"}}