{{>"layouts/header.hbs"}}

<div class="photos__container">
  {{>"components/photo.hbs"
    titre="Photo 1"
    image="/src/assets/photos/1.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 2"
    image="/src/assets/photos/2.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 3"
    image="/src/assets/photos/3.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 4"
    image="/src/assets/photos/4.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 5"
    image="/src/assets/photos/5.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 6"
    image="/src/assets/photos/6.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 7"
    image="/src/assets/photos/7.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 8"
    image="/src/assets/photos/8.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 9"
    image="/src/assets/photos/9.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 10"
    image="/src/assets/photos/10.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 11"
    image="/src/assets/photos/11.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 12"
    image="/src/assets/photos/12.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 13"
    image="/src/assets/photos/13.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 14"
    image="/src/assets/photos/14.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 15"
    image="/src/assets/photos/15.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 16"
    image="/src/assets/photos/16.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 17"
    image="/src/assets/photos/17.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 18"
    image="/src/assets/photos/18.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 19"
    image="/src/assets/photos/19.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 20"
    image="/src/assets/photos/20.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 21"
    image="/src/assets/photos/21.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 22"
    image="/src/assets/photos/22.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 23"
    image="/src/assets/photos/23.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 24"
    image="/src/assets/photos/24.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 25"
    image="/src/assets/photos/25.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 26"
    image="/src/assets/photos/26.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 27"
    image="/src/assets/photos/27.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 28"
    image="/src/assets/photos/28.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 29"
    image="/src/assets/photos/29.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 30"
    image="/src/assets/photos/30.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 31"
    image="/src/assets/photos/31.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 32"
    image="/src/assets/photos/32.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 33"
    image="/src/assets/photos/33.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 34"
    image="/src/assets/photos/34.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 35"
    image="/src/assets/photos/35.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 36"
    image="/src/assets/photos/36.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 37"
    image="/src/assets/photos/37.webp"
    alt=""
  }}
  
  {{>"components/photo.hbs"
    titre="Photo 38"
    image="/src/assets/photos/38.webp"
    alt=""
  }}
  
</div>
{{>"layouts/footer.hbs"}}