<div class="composant">
  <img class="composant__icone" src="{{icone}}" />
  <div class="composant__title">{{title}}</div>
  <a href="#" >
    <img class="composant__icon-add" src="/src/assets/icones/iconAdd.svg" />
  </a>
</div>