<div class="composant">
  <img class="composant__icone" src="{{icone}}" />
  <div class="composant__title">{{title}}</div>
  <a href="#" >
    <img class="composant__icon-add" src="/src/assets/icones/iconAdd.svg" />
  </a>
</div>



{{!-- 
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <div class="composant">
      <img class="composant__icone" src="{{icone}}" />
      <div class="composant__title">{{title}}</div>
      <a 
        href="#collapseItem" 
        class="composant__icon-add" 
        data-bs-toggle="collapse" 
        aria-expanded="false" 
        aria-controls="collapseItem">
        <img src="/src/assets/icones/iconAdd.svg" alt="Add Icon" />
      </a>
    </div>
    <div id="collapseItem" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!-- Contenu supplémentaire ici -->
        Contenu du composant.
      </div>
    </div>
  </div>
</div> --}}
