<article class="photo">

  <a class="photo__titre" href="#">
    {{titre}}
  </a>

  <div class="photo__image">
    <a href="#">
      <img src="{{image}}" alt="{{alt}}">
    </a>
  </div>

</article>