<div class="serviceGauche">
  <div class="serviceGauche__text">
    <div class='serviceGauche__title'>{{{title}}}</div>
    {{{text}}}
  </div>
  <img 
    class="serviceGauche__image"
    src="{{image}}" 
    alt="{{alt}}"
  />
</div>
