<article class="service">
  <img 
    class="service__image"
    src="{{image}}" 
    alt="{{alt}}"
  />
  <div class="service__text">
    <div class='service__title'>{{{title}}}</div>
    {{{text}}}
  </div>
</article>
