<div class="serviceDroite">
  <img 
    class="serviceDroite__image"
    src="{{image}}" 
    alt="{{alt}}"
  />
  <div class="serviceDroite__text">
    <div class='serviceDroite__title'>{{{title}}}</div>
    {{{text}}}
  </div>
</div>
