<div class="tuileLarge tuile">
  <img class="tuileLarge__img" src="{{image}}" alt="{{imageAlt}}" />
  <div class="tuileLarge__content">
    <div class="tuileLarge__title">{{title}}</div>
  </div>
</div>