.footer {
  position: relative;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrer les éléments principaux */
  background-color: var(--principale);
}

.footer__menu-list {
  list-style: none; /* Retirer les puces */
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les éléments du menu */
}

.footer__menu-item {
  display: flex;
  align-items: center;
}

.footer__menu-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__contact-icon {
  width: 24px;
  height: 24px;
}

.footer__contact-text {
  color: #F7F7F7;
  font-size: var(--fs-body);
  word-wrap: break-word;
}

.footer__legal {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  color: var(--gray-100);
  font-size: var(--fs-small);
  font-variation-settings: var(--condensed);
}

.footer__legal-link {
  text-decoration: none;
  color: inherit;
}

.footer__legal-link:hover {
  text-decoration: underline;
}
