.header {
  position: absolute;
  background-color: var(--principale);
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.header__start {
  display: flex;
  margin-left: 30px;
}

.header__logo {
  display: flex;
}

.header__logo-image {
  max-width:none;
  width: 154px;
  z-index: 20;
}

.header__end {
  display: flex;
  margin-right: 30px;
}

.header__menuBtn {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 960px) {
  .header {
    background-color: var(--principale);
  }
  .header__start {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  .header__end {
    flex-direction: row;
    margin-right: 100px;
  }
}