</main>

<footer class="footer">
    <div class="footer__nav">
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a href="tel:+123456789" class="footer__menu-link">
              <img class="footer__contact-icon" src="/src/assets/icones/Phone.png" alt="Icône téléphone" />
              <span class="footer__contact-text">Téléphone</span>
            </a>
          </li>
          <li class="footer__menu-item">
            <a href="https://www.facebook.com" target="_blank" class="footer__menu-link">
              <img class="footer__contact-icon" src="/src/assets/icones/Facebook.png" alt="Icône Facebook" />
              <span class="footer__contact-text">Facebook</span>
            </a>
          </li>
          <li class="footer__menu-item">
            <a href="https://www.instagram.com" target="_blank" class="footer__menu-link">
              <img class="footer__contact-icon" src="/src/assets/icones/Instagram.png" alt="Icône Instagram" />
              <span class="footer__contact-text">Instagram</span>
            </a>
          </li>
          <li class="footer__menu-item">
            <a href="mailto:example@mail.com" class="footer__menu-link">
              <img class="footer__contact-icon" src="/src/assets/icones/Mail.png" alt="Icône Mail" />
              <span class="footer__contact-text">Mail</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__legal">
      <a href="/mentions-legales.html" class="footer__legal-link">Mentions légales</a>
    </div>

</footer>

</body>

</html>