<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/styles/style.css">
  <script type="module" src="/src/js/scripts.js"></script>
  <title>Dépannage Informatique Vesoul</title>
</head>

<body>
  <header class="header">
    <div class="header__start">
      <a href="/" class="header__logo">
        <img src="/src/assets/icones/Logo.svg" alt="Logo de l'entreprise" class="header__logo-image">
      </a>
    </div>
    <div class="header__end">
      <button class="header__menuBtn menuBurger" aria-controls="mainNav" aria-expanded="false" aria-label="Accéder au menu">
        <span class="menuBurger__bar" aria-hidden="true"></span>
      </button>
      <nav class="header__menu menu">
        <ul class="menu__list listUnstyled">
          <li class="menu__item">
            <a href="infos" class="menu__link">Qui sommes nous ?</a>
          </li>
          <li class="menu__item">
            <a href="photos" class="menu__link">Photos</a>
          </li>
          <li class="menu__item">
            <a href="contact" class="menu__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>