<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/style.css">
    <title>Dépannage Informatique Vesoul</title>
  </head>
  <body>
    <header class="header">
      <div class="header__start">
        <a href="/" class="header__logo">
          <img src="/src/assets/icones/Logo.svg" alt="Logo de l'entreprise">
        </a>
      </div>
      <div class="header__end">
        
      </div>
    </header>
    <main>