<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/styles/style.css">
  <title>Dépannage Informatique Vesoul</title>
</head>

<body>
<header class="header">
  <div class="header__start">
    <a href="/" class="header__logo">
      <img src="/src/assets/icones/Logo.svg" alt="Logo de l'entreprise" class="header__logo-image">
    </a>
  </div>
  <div class="header__end">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Qui sommes nous?</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Photos</a>
        </li>
        <li class="header__nav-item">
          <a href="contact" class="header__nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


  <main>