.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-800);
  font-size: var(--fs-title-4);
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gray-100);
  border-radius: 15px;
  font-variation-settings: var(--condensed);
}

.contact-form__button {
  width: 50%;
  padding: 10px;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-100);
  border-radius: 15px;
  cursor: pointer;
  font-variation-settings: var(--condensed);
}

.contact-form__button:hover {
  background-color: var(--saillance);
}

.contact__excerpt {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-variation-settings: var(--condensed);
}

.contact-line {
  border-bottom: var(--gray-100) 1px solid;
}

.contact-details {
  margin-top: 20px;
  text-align: center;
  padding: 0 20px;
}

.contact-details__text {
  display: block;
  margin-bottom: 20px;
  font-size: var(--fs-title-5);
  font-variation-settings: var(--normal);
}

@media (min-width: 960px) {
  .contact {
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
  }

  .contact__excerpt {
    gap: 60px;
  }
}
