.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}

.infos__img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.infos__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.infos__name {
  align-self: stretch;
  text-align: center;
  margin-bottom: -15px;
  color: var(--gray-100);
  font-size: var(--fs-title-3);
  word-wrap: break-word;
}

.infos__subtitle {
  align-self: stretch;
  text-align: center;
  color: var(--saillance);
  font-size: var(--fs-title-5);
  word-wrap: break-word;
}

.infos__content {
  align-self: stretch;
  color: white;
  font-size: var(--fs-title-4);
  word-wrap: break-word;
}

.infos__quote {
  align-self: stretch;
  line-height: 40px;
  font-size: var(--fs-title-3);
}

@media (min-width: 960px) {
  .infos {
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
  }

  .infos__text {
    gap: 50px;
  }
}
