.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.infos__img {
}

.infos__name {
  align-self: stretch;
  height: 44px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 400;
  word-wrap: break-word;
}

.infos__subtitle {
  align-self: stretch;
  height: 51px;
  text-align: center;
  color: var(--saillance);
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
}

.infos__experience {
  align-self: stretch;
  height: 217px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.infos__quote-container {
  align-self: stretch;
  height: 327px;
  padding: 0 22px;
  background: var(--principale);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.infos__quote {
  align-self: stretch;
  height: 286px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 400;
  word-wrap: break-word;
}
