.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.infos__name {
  align-self: stretch;
  text-align: center;
  margin-bottom: -15px;
  color: var(--gray-100);
  font-size: var(--fs-title-3);
  font-variation-settings: var(--condensed);
  word-wrap: break-word;
}

.infos__subtitle {
  align-self: stretch;
  text-align: center;
  color: var(--saillance);
  font-size: var(--fs-title-5);
  font-variation-settings: var(--condensed);
  word-wrap: break-word;
}

.infos__experience {
  align-self: stretch;
  color: white;
  font-size: var(--fs-title-4);
  font-variation-settings: var(--condensed);
  word-wrap: break-word;
}

.infos__quote {
  align-self: stretch;
  display: flex;
  padding: 20px 30px;
  line-height: 40px;
  background: var(--principale);
  border-radius: 15px;
  text-align: center;
  color: var(--gray-100);
  font-size: var(--fs-title-3);
  font-variation-settings: var(--condensed);
  word-wrap: break-word;
}
