*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--gray-800);
  font-family: var(--font-sans);
  font-variation-settings: var(--condensed);
  color: var(--gray-100);
}

main {
  margin: 0px 30px 50px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-variation-settings: var(--condensed);
  margin: 0;
}

.line {
  border-bottom: var(--gray-100) 1px solid;
}

.homepage {
  position: relative;
  background: url("/src/assets/img/casper-johansson-KDIHqGWlvOc-unsplash.jpg") var(--overlay) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
}

.saillance {
  color: var(--saillance);
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.listUnstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noscroll {
  overflow: hidden;
}

@media (min-width: 960px) {
  main {
    margin: 60px auto;
    padding: 0 30px;
    max-width: 1200px;
  }
}
