*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-800);
  font-family: var(--font-sans);
  font-variation-settings: var(--condensed);
  color: var(--gray-100);
}

main {
  margin: 50px 30px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-variation-settings: var(--condensed);
  margin: 0;
}

.saillance {
  color: var(--saillance);
}

.image {
  border-radius: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.listUnstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noscroll {
  overflow: hidden;
}

@media (min-width: 960px) {
  main {
    margin: 60px auto;
    margin-top: 150px;
    max-width: 1200px;
  }
}
